
manifest {
    description = 'mRNA sequencing analysis pipeline'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PCON0160/"
singularity.cacheDir = "${baseDir}/singularity"

process.shell = ['/bin/bash', '-euo', 'pipefail']
// Global default params, used in configs

params {

    help = false
    base = baseDir

    // Options: Genome
    genome = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.genomic.fa'
    gtf = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.canonical_geneset.gtf'
    gene_ids = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.gene_ids.txt'

    // Options: TrimGalore
    minquality = 20
    minlength = 20
    trimN = true
    fastqc = true

    // Options: Library
    single_end = false 

    // Options: star
    readFilesCommand = 'zcat'
    alignIntronMax = 10000
    outFilterMismatchNoverReadLmax = 0.04
    outSAMtype = "BAM SortedByCoordinate"
    outFilterType = "BySJout"
    outFilterMultimapNmax = false
    outFilterIntronMotifs = "RemoveNoncanonical"
    outSAMprimaryFlag = "AllBestScore"
    outFilterScoreMinOverLread = 0.33
    outFilterMatchNminOverLread = 0.33
    outFilterMatchNmin = 0 
    outFilterMismatchNmax = 999
    genomeLoad = "NoSharedMemory"
    outBAMcompression = 1
    outSAMmode = "Full"
    outSAMattributes = "All"
    outFilterMismatchNoverLmax = 0.3
    alignEndsType = "Local"
    
    // Options: salmon
    salmon = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/ce_ws279.linc.pseudo.pc.repbase.fa'
    
    // Options: Alignments
    keep_dups = true
    keep_multi_map = true
    select_primary = false
    remove_orphan = true
    blacklist = false
    merge_bam = false
    filter_bam = false
    quantMode = true

    // Options: FeatureCounts
    reverse_stranded = true
    identifier = "gene_id"
    feature = "exon"
    count_multimappers = true
    feature_counts = true
    fraction_counts = true
    multi_overlap = true

    // Options : DeepTools
    bam_to_bw = true
    normalize_bw = 'CPM'
    smooth_length = 5
    exact_scaling = false
    filter_strand = false
    bin_size = 5
    merge_bw = true

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 16
    max_time = 240.h

    // Subworkflow params
    bam_path = false
    
}

profiles {

    standard {
        executor = 'local'
        singularity.autoMounts = true
        singularity.enabled = true
        process.container = 'docker://benpasto/rnaseq:latest'
    }
    
    cluster {
        
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://benpasto/rnaseq:latest'
        cpus = 2
        memory = 2.GB

        process {

            withLabel:'local'{
                executor = 'local'
            }

            withLabel:'low' {
                executor = 'slurm'
                cpus = 15
                clusterOptions = "--account=PAS1473 --time=01:00:00 --nodes=1 --mem=32gb "
            }
        
            withLabel:'medium' {
                executor = 'slurm'
                cpus = 20
                clusterOptions = "--account=PAS1473 --time=02:00:00 --nodes=1 --mem=64gb "
            }
        
            withLabel:'high' {
                executor = 'slurm'
                cpus = 25
                clusterOptions = "--account=PAS1473 --time=03:00:00 --nodes=1 --mem=128gb "
            }
            
            withLabel:'extra_high' {
                executor = 'slurm'
                cpus = 30
                clusterOptions = "--account=PAS1473 --time=06:00:00 --nodes=1 --mem=256gb "
            }
        }
    }
}

