

manifest {
    description = 'Small RNA sequencing analysis pipeline'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PCON0160/"
singularity.cacheDir = "./singularity"

process.shell = ['/bin/bash', '-euo', 'pipefail']
// Global default params, used in configs

params {

    single_end = false
    help = false

    base = baseDir

    // Options: Genome
    genome = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.genomic.fa'
    gtf = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.canonical_geneset.gtf'
    gene_ids = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.gene_ids.txt'

    // Options: Alignments
    bwa_min_score = false
    keep_dups = false
    keep_multi_map = false
    select_primary = true
    remove_orphan = true
    blacklist = false
    
    // Options : DeepTools
    normalize_bw = 'RPKM'
    smooth_length = 10
    exact_scaling = true
    filter_strand = false
    bin_size = 10
    bw_compare_op = 'subtract'

    // Options: Peaks
    narrow_peak = true
    broad_cutoff = 0.1
    macs_gsize = 100286401
    macs_fdr = false
    macs_pvalue = false
    min_reps_consensus = 1
    save_macs_pileup = false
    skip_peak_qc = false
    skip_peak_annotation = false
    skip_consensus_peaks = false

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 16
    max_time = 240.h
}

profiles {

    standard {
        executor = 'local'
        singularity.autoMounts = true
        singularity.enabled = true
        process.container = 'docker://benpasto/rnaseq:latest'
    }
    
    cluster {
        
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://benpasto/rnaseq:latest'
        cpus = 8
        memory = 9.GB

        process {

            withLabel:'local'{
                executor = 'local'
            }

            withLabel:'low' {
                executor = 'slurm'
                cpus = 15
                memory = 40.GB
                time = '1h'
                clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
            }
        
            withLabel:'medium' {
                executor = 'slurm'
                cpus = 25
                memory = 64.GB
                time = '2h'
                clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
            }
        
            withLabel:'high' {
                executor = 'slurm'
                cpus = 30
                memory = 128.GB
                time = '3h'
                clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
            }
            
            withLabel:'extra_high' {
                executor = 'slurm'
                cpus = 30
                memory = 200.GB
                time = '4h'
                clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
            }
        }
    }
}

