manifest {
    description = 'CHIP sequencing analysis pipeline'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PCON0160"
singularity.cacheDir = "${baseDir}/singularity"


process.shell = ['/bin/bash', '-euo', 'pipefail']
// Global default params, used in configs

params {

    single_end = false
    help = false

    base = baseDir

    // Options: Genome
    genome = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.genomic.fa'
    gtf = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.canonical_geneset.gtf'
    gene_ids = false

    // Options : fastqc 
    fastqc = false

    // Options: Alignments
    bwa_min_score = false
    keep_dups = false
    keep_multi_map = true
    select_primary = false
    remove_orphan = true
    blacklist = false
    filter_bam = false
    
    // Options : DeepTools
    normalize_bw = 'CPM'
    smooth_length = 10
    exact_scaling = true
    filter_strand = false
    bin_size = 5
    bw_compare_operation = 'ratio'
    bw_compare_pseudocount = 1
    merge_bw = true

    // Options: Peaks
    narrow_peak = true
    broad_cutoff = 0.1
    macs_gsize = 2913022398
    macs_fdr = false
    macs_pvalue = false
    min_reps_consensus = 1
    save_macs_pileup = false
    skip_peak_qc = false
    skip_peak_annotation = false
    skip_consensus_peaks = false

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 16
    max_time = 240.h

    // Options select variant caller
    variant_caller = 'gatk'

}

profiles {

    standard {
        executor = 'local'
        singularity.autoMounts = true
        singularity.enabled = true
        process.container = 'docker://benpasto/rnaseq:latest'
    }
    
    cluster {
        
        cpus = 2
        memory = 2.GB

        process {

            withLabel:'local'{
                executor = 'local'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }

            withLabel:'low' {
                executor = 'slurm'
                cpus = 15
                clusterOptions = "--account=PAS1473 --time=01:00:00 --nodes=1 --mem=32gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
        
            withLabel:'medium' {
                executor = 'slurm'
                cpus = 20
                clusterOptions = "--account=PAS1473 --time=02:00:00 --nodes=1 --mem=64gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
        
            withLabel:'high' {
                executor = 'slurm'
                cpus = 30
                clusterOptions = "--account=PAS1473 --time=36:00:00 --nodes=1 --mem=128gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
            
            withLabel:'extra_high' {
                executor = 'slurm'
                cpus = 30
                clusterOptions = "--account=PAS1473 --time=50:00:00 --nodes=1 --mem=128gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }

            withLabel:'DeepVariant' {
                executor = 'slurm'
                clusterOptions = "--account=PAS1473 --time=18:00:00 --nodes=1 --mem=128gb --gpus-per-node=2 --gpu_cmode=shared "
                singularity.enabled = true
                singularity.autoMounts = true
                cpus = 20
            }

            withLabel:'GATK' {
                executor = 'slurm'
                clusterOptions = "--account=PAS1473 --time=10:00:00 --nodes=1 --ntasks-per-node=25 --mem=128gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://broadinstitute/gatk:latest'
                memory = '256G'
                cpus = 30
            }

            withLabel:'atria' {
                executor = 'slurm'
                cpus = 25
                clusterOptions = "--account=PAS1473 --time=12:00:00 --nodes=1 --mem=64gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/atria:latest'
            }

            withLabel:'expansion_hunter' {
                executor = 'slurm'
                cpus = 25
                clusterOptions = "--account=PAS1473 --time=12:00:00 --nodes=1 --mem=64gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/expansion_hunter:latest'
            }
        }
    }
}