manifest {
    description = 'CHIP sequencing analysis pipeline'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PCON0160/ben_wgs_tmp"
singularity.cacheDir = "${baseDir}/singularity"


process.shell = ['/bin/bash', '-euo', 'pipefail']
// Global default params, used in configs


params {

    single_end = false
    help = false

    base = baseDir

    // Options: inputs 
    download_bam = false
    input_type = "fastq"

    // Options: Genome
    genome = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.genomic.fa'
    protein = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.protein.fa'
    cds = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.CDS_transcripts.fa'
    gtf = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.canonical_geneset.gtf'
    gene_ids = false

    // Options : fastqc 
    trim_adapters = true
    fastqc = false

    // Options : bwa index
    bwa_index_alg = 'is'

    // Options: Alignments
    aligner = 'bwa'
    bwa_min_score = false
    keep_dups = false
    keep_multi_map = false
    select_primary = false
    remove_orphan = true
    blacklist = false
    filter_bam = true
    
    // Options : DeepTools
    normalize_bw = 'CPM'
    smooth_length = 10
    exact_scaling = true
    filter_strand = false
    bin_size = 5
    bw_compare_operation = 'ratio'
    bw_compare_pseudocount = 1
    merge_bw = true

    // Options: Peaks
    narrow_peak = true
    broad_cutoff = 0.1
    macs_gsize = 2913022398
    macs_fdr = false
    macs_pvalue = false
    min_reps_consensus = 1
    save_macs_pileup = false
    skip_peak_qc = false
    skip_peak_annotation = false
    skip_consensus_peaks = false

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 16
    max_time = 240.h

    // Options select variant caller
    call_variants = true
    variant_caller = 'gatk'
    genotype_cohort = true
    gatk_filters = true

    // Options : combine vcfs (for use with wild isolats)
    combine_vcf = true

    // Options filtering variants gatk
    min_depth = 5
    qual = 30.0
    strand_odds_ratio = 5.0
    quality_by_depth = 20.0
    fisherstrand = 100.0
    high_missing = 0.95
    high_heterozygosity = 0.10
    mito_name = "MtDNA"

    // Options : expansion hunter
    run_expansion_hunter = false

    // snpEff parameters
    run_snpeff = true
    //snpEff_data = "/fs/ess/PCON0160/sam/pipeline/nextflow_pipelines/bin/snpEff"
    organism = "Caenorhabditis_elegans"
}

profiles {

    // I higly do not recommend running this on a local computer unless it is a very powerful workstation
    // Even so it will not be as efficient as running the pipeline using supercomputing resources
    standard {

        process {
        
            withLabel:'local'{
                executor = 'local'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }

            withLabel:'low' {
                executor = 'slurm'
                cpus = 4
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
        
            withLabel:'medium' {
                executor = 'slurm'
                cpus = 4
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
        
            withLabel:'high' {
                executor = 'local'
                cpus = 4
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
            
            withLabel:'extra_high' {
                executor = 'local'
                cpus = 4
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }

            withLabel:'DeepVariant' {
                executor = 'local'
                singularity.enabled = true
                singularity.autoMounts = true
                cpus = 4
            }

            withLabel:'GATK' {
                executor = 'local'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://broadinstitute/gatk:latest'
                cpus = 4
            }

            withLabel:'WIGATK' {
                executor = 'local'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/wigatk:latest'
                cpus = 4
            }

            withLabel:'atria' {
                executor = 'local'
                cpus = 4
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/atria:latest'
            }

            withLabel:'expansion_hunter' {
                executor = 'local'
                cpus = 4
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/expansion_hunter:latest'
            }

            withLabel:'bcftools' {
                executor = 'local'
                cpus = 4
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://biocontainers/bcftools:v1.9-1-deb_cv1'
            }

            withLabel:'snpeff' {
                executor = 'local'
                cpus = 4
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://openjdk'
            }

            withLabel:'download_bam' {
                executor = 'local'
                cpus = 4
                singularity.enabled = true
                singularity.autoMounts = true
            }
        }
    }
    
    cluster {
        
        cpus = 2
        memory = 2.GB

        process {

            hpc_account = "PCON0160"
        
            withLabel:'local'{
                executor = 'local'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }

            withLabel:'low' {
                executor = 'slurm'
                cpus = 15
                clusterOptions = "--account=$hpc_account --time=01:00:00 --nodes=1 --mem=32gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
        
            withLabel:'medium' {
                executor = 'slurm'
                cpus = 20
                clusterOptions = "--account=$hpc_account --time=02:00:00 --nodes=1 --mem=64gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
        
            withLabel:'high' {
                executor = 'slurm'
                cpus = 30
                clusterOptions = "--account=$hpc_account --time=36:00:00 --nodes=1 --mem=128gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
            
            withLabel:'extra_high' {
                executor = 'slurm'
                cpus = 30
                clusterOptions = "--account=$hpc_account --time=100:00:00 --nodes=1 --mem=128gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }

            withLabel:'DeepVariant' {
                executor = 'slurm'
                clusterOptions = "--account=$hpc_account --nodes=1 --mem=128gb --gpus-per-node=2 --gpu_cmode=shared "
                singularity.enabled = true
                singularity.autoMounts = true
                cpus = 20
                time = '24h'
            }

            withLabel:'GATK' {
                executor = 'slurm'
                clusterOptions = "--account=$hpc_account --nodes=1 "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://broadinstitute/gatk:latest'
                memory = 128.GB
                cpus = 15
                time = '24h'
            }

            withLabel:'WIGATK' {
                executor = 'slurm'
                clusterOptions = "--account=$hpc_account --nodes=1 "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/wigatk:latest'
                memory = 128.GB
                cpus = 20
                time = 15.h
            }

            withLabel:'atria' {
                executor = 'slurm'
                cpus = 25
                clusterOptions = "--account=$hpc_account --time=12:00:00 --nodes=1 --mem=64gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/atria:latest'
            }

            withLabel:'expansion_hunter' {
                executor = 'slurm'
                cpus = 25
                clusterOptions = "--account=$hpc_account --time=12:00:00 --nodes=1 --mem=64gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/expansion_hunter:latest'
            }

            withLabel:'bcftools' {
                executor = 'slurm'
                cpus = 25
                clusterOptions = "--account=$hpc_account --time=12:00:00 --nodes=1 --mem=64gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://biocontainers/bcftools:v1.9-1-deb_cv1'
            }

            withLabel:'snpeff' {
                executor = 'slurm'
                cpus = 25
                memory = 64.GB
                clusterOptions = "--account=PAS0631 --time=12:00:00 --nodes=1 "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://openjdk'
            }

            withLabel:'download_bam' {
                executor = 'slurm'
                cpus = 4
                clusterOptions = "--account=$hpc_account --time=00:30:00 --nodes=1 --mem=16gb "
                singularity.enabled = true
                singularity.autoMounts = true
            }
        }
    }
}
