manifest {
    description = 'CHIP sequencing analysis pipeline'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PCON0160/ben_wgs_tmp"
singularity.cacheDir = "${baseDir}/singularity"


process.shell = ['/bin/bash', '-euo', 'pipefail']
// Global default params, used in configs


params {

    config_file="Recessive Modifier"

    single_end = false
    help = false

    base = baseDir

    // Options: inputs 
    download_bam = false
    input_type = "fastq"

    // Options: Genome
    genome = "/fs/ess/PCON0160/ben/genomes/GRCh38/GRCh38.primary_assembly.genome.fa"
    protein = false
    cds = false
    gtf = "/fs/ess/PCON0160/ben/genomes/GRCh38/gencode.v42.annotation.gtf"
    gene_ids = false

    // Options : fastqc 
    trim_adapters = true
    fastqc = false

    // Options : bwa index
    bwa_index_alg = 'bwtsw'

    // Options: Alignments
    aligner = 'bwa'
    bwa_min_score = false
    keep_dups = false
    keep_multi_map = false
    select_primary = false
    remove_orphan = true
    blacklist = false
    filter_bam = true
    
    // Options : DeepTools
    normalize_bw = 'RPKM'
    smooth_length = 10
    exact_scaling = true
    filter_strand = false
    bin_size = 5
    bw_compare_operation = 'ratio'
    bw_compare_pseudocount = 1
    merge_bw = true

    // Options: Peaks
    narrow_peak = true
    broad_cutoff = 0.1
    macs_gsize = 2913022398
    macs_fdr = false
    macs_pvalue = false
    min_reps_consensus = 1
    save_macs_pileup = false
    skip_peak_qc = false
    skip_peak_annotation = false
    skip_consensus_peaks = false

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 16
    max_time = 240.h

    // Options select variant caller
    call_variants = true
    variant_caller = 'DeepVariant'
    genotype_cohort = false
    gatk_filters = false

    // Options : combine vcfs (for use with wild isolats)
    combine_vcf = false

    // Options filtering variants gatk
    min_depth = 5
    qual = 30.0
    strand_odds_ratio = 5.0
    quality_by_depth = 20.0
    fisherstrand = 100.0
    high_missing = 0.95
    high_heterozygosity = 0.10
    mito_name = "MtDNA"

    // Options : expansion hunter
    run_expansion_hunter = true

    // snpEff parameters
    run_snpeff = true
    organism = "Homo_sapiens"
    snp_eff_db = false

    test_variable = "Good Day"
}

profiles {

    standard {
        executor = 'local'
        singularity.autoMounts = true
        singularity.enabled = true
        process.container = 'docker://benpasto/rnaseq:latest'
    }
    
    cluster {
        
        cpus = 2
        memory = 2.GB

        process {

            hpc_account = "PCON0160"

            additional_cluster_commands="--cluster=ascend "

            withLabel:'local'{
                executor = 'local'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }

            withLabel:'low' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
                clusterOptions = "--account=$hpc_account --time=01:00:00 --ntasks=1 --cpus-per-task=8 --mem=16G $additional_cluster_commands "

            }
        
            withLabel:'medium' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
                clusterOptions = "--account=$hpc_account --time=01:00:00 --ntasks=1 --cpus-per-task=16 --mem=32G $additional_cluster_commands "

            }
        
            withLabel:'high' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
                clusterOptions = "--account=$hpc_account --time=01:00:00 --ntasks=1 --cpus-per-task=24 --mem=64G $additional_cluster_commands "
            }
            
            withLabel:'extra_high' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
                clusterOptions = "--account=$hpc_account --time=01:00:00 --ntasks=1 --cpus-per-task=24 --mem=100G $additional_cluster_commands "

            }

            withLabel:'DeepVariant' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                clusterOptions = "--account=$hpc_account --time=18:00:00 --ntasks=1 --cpus-per-task=20 --mem=100G --gpus-per-node=2 --gpu_cmode=shared $additional_cluster_commands "
            }

            withLabel:'GATK' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://broadinstitute/gatk:latest'
                clusterOptions = "--account=$hpc_account --time=10:00:00 --ntasks=1 --cpus-per-task=24 --mem=100G $additional_cluster_commands "
            }

            withLabel:'WIGATK' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/wigatk:latest'
                clusterOptions = "--account=$hpc_account --time=10:00:00 --ntasks=1 --cpus-per-task=24 --mem=100G $additional_cluster_commands "
            }

            withLabel:'atria' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/atria:latest'
                clusterOptions = "--account=$hpc_account --time=10:00:00 --ntasks=1 --cpus-per-task=24 --mem=100G $additional_cluster_commands "
            }

            withLabel:'expansion_hunter' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/expansion_hunter:latest'
                clusterOptions = "--account=$hpc_account --time=10:00:00 --ntasks=1 --cpus-per-task=24 --mem=100G $additional_cluster_commands "
            }

            withLabel:'bcftools' {
                executor = 'slurm'
                cpus = 25
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://biocontainers/bcftools:v1.9-1-deb_cv1'
                clusterOptions = "--account=$hpc_account --time=10:00:00 --ntasks=1 --cpus-per-task=24 --mem=100G $additional_cluster_commands "
            }

            withLabel:'bcftools_low' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/bcftools:latest'
                clusterOptions = "--account=$hpc_account --time=10:00:00 --ntasks=1 --cpus-per-task=16 --mem=32G $additional_cluster_commands "
            }

            withLabel:'snpeff' {
                executor = 'slurm'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://openjdk'
                clusterOptions = "--account=$hpc_account --time=10:00:00 --ntasks=1 --cpus-per-task=24 --mem=100G $additional_cluster_commands "
            }

            withLabel:'download_bam' {
                executor = 'slurm' 
                clusterOptions = "--account=$hpc_account --time=01:00:00 --ntasks=1 --cpus-per-task=8 --mem=16G $additional_cluster_commands "
                singularity.enabled = true
                singularity.autoMounts = true
            }

            withLabel:'gpu' {
                executor = 'slurm'
                clusterOptions = "--account=$hpc_account --time=15:00:00 --ntasks=1 --cpus-per-task=20 --mem=100G --gpus-per-node=2 --gpu_cmode=shared $additional_cluster_commands "
                singularity.enabled = true
                singularity.autoMounts = true
            }

            withLabel:'cispliceai' {
                executor = 'slurm'
                clusterOptions = "--account=$hpc_account --time=15:00:00 --ntasks=1 --cpus-per-task=20 --mem=100G --gpus-per-node=1 --gpu_cmode=shared $additional_cluster_commands "
                singularity.enabled = true
                singularity.autoMounts = true
                container = null
            }

        }
    }
}