

manifest {
    description = 'Small RNA sequencing analysis pipeline'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PCON0160/"

process.shell = ['/bin/bash', '-euo', 'pipefail']
// Global default params, used in configs

params {
    bin = "${baseDir}/bin"
    single_end = false
    
    // Options: Genome
    genome = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.genomic.fa'
    gtf = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.canonical_geneset.gtf'
    gene_ids = '/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.gene_ids.txt'

    // Options: Alignments
    bwa_min_score = false
    keep_dups = false
    keep_multi_map = false

    // Options: Peaks
    narrow_peak = false
    broad_cutoff = 0.1
    macs_fdr = false
    macs_pvalue = false
    min_reps_consensus = 1
    save_macs_pileup = false
    skip_peak_qc = false
    skip_peak_annotation = false
    skip_consensus_peaks = false

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 16
    max_time = 240.h
}

profiles {

    standard {

        executor = 'local'
        singularity.enabled = true
        process.container = '/fs/ess/PCON0160/ben/pipelines/NF-mRNA/rnaseq_latest.sif'

    }
    
    cluster {
        
        singularity.enabled = true
        process.container = '/fs/ess/PCON0160/ben/pipelines/NF-mRNA/rnaseq_latest.sif'
        cpus = 8
        memory = 9.GB

        process {

            withLabel:'local'{
                executor = 'local'
            }

            withLabel:'low' {
                executor = 'slurm'
                cpus = 15
                memory = 40.GB
                time = '1h'
                clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
            }
        
            withLabel:'medium' {
                executor = 'slurm'
                cpus = 25
                memory = 64.GB
                time = '2h'
                clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
            }
        
            withLabel:'high' {
                executor = 'slurm'
                cpus = 30
                memory = 128.GB
                time = '3h'
                clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
            }
        }
    }
}

